<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobcenter.campus.mapper.GmPackageHistoryMapper">
  <resultMap id="BaseResultMap" type="com.jobcenter.campus.entity.GmPackageHistory">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="platform_id" jdbcType="INTEGER" property="platformId" />
    <result column="package_id" jdbcType="INTEGER" property="packageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="version_code" jdbcType="INTEGER" property="versionCode" />
    <result column="version_name" jdbcType="VARCHAR" property="versionName" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="down_url" jdbcType="VARCHAR" property="downUrl" />
    <result column="file_size" jdbcType="INTEGER" property="fileSize" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="data_package_ids" jdbcType="VARCHAR" property="dataPackageIds" />
    <result column="ch_id" jdbcType="INTEGER" property="chId" />
    <result column="modify_type" jdbcType="TINYINT" property="modifyType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <insert id="insert" parameterType="com.jobcenter.campus.entity.GmPackageHistory">
    insert into gm_package_history (id, game_id, platform_id, 
      package_id, name, version_code, 
      version_name, md5, down_url, 
      file_size, type, data_package_ids, 
      ch_id, modify_type, create_time, 
      modify_time, deleted)
    values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{platformId,jdbcType=INTEGER}, 
      #{packageId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{versionCode,jdbcType=INTEGER}, 
      #{versionName,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{downUrl,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{dataPackageIds,jdbcType=VARCHAR}, 
      #{chId,jdbcType=INTEGER}, #{modifyType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jobcenter.campus.entity.GmPackageHistory">
    insert into gm_package_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="packageId != null">
        package_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="versionName != null">
        version_name,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="downUrl != null">
        down_url,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dataPackageIds != null">
        data_package_ids,
      </if>
      <if test="chId != null">
        ch_id,
      </if>
      <if test="modifyType != null">
        modify_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="packageId != null">
        #{packageId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null">
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="versionName != null">
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="downUrl != null">
        #{downUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="dataPackageIds != null">
        #{dataPackageIds,jdbcType=VARCHAR},
      </if>
      <if test="chId != null">
        #{chId,jdbcType=INTEGER},
      </if>
      <if test="modifyType != null">
        #{modifyType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>