<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    ">
    <!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->
    <!--perf4j performance monitor AOP-->
    <bean id="timingAspect" class="org.perf4j.slf4j.aop.TimingAspect"/>

    <aop:aspectj-autoproxy proxy-target-class="true">
        <aop:include name="timingAspect"/>
    </aop:aspectj-autoproxy>

    <!-- auto discovery bean，include @Component@Service@Controller etc. -->
    <context:component-scan base-package="com.jobcenter.campus.web.controller.**"/>

    <!-- import the service definition -->
    <import resource="classpath:spring/spring-config-service.xml"/>

    <!-- spring mvc setting -->

    <!-- config the static resources -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- Inteceptor 记录API请求url和执行时间 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 打印请求响应时间 -->
            <bean class="com.jobcenter.campus.common.interceptor.CostTimeInteceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--<bean id="stringHttpMessageConverter"-->
          <!--class="org.springframework.http.converter.StringHttpMessageConverter">-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>text/plain;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="writeAcceptCharset" value="false"/>-->
        <!--&lt;!&ndash;解决响应头Accept-Charset很大，耗费流量的问题&ndash;&gt;-->
    <!--</bean>-->


    <!--<bean id="mappingJacksonHttpMessageConverter"-->
          <!--class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">-->
        <!--&lt;!&ndash; 解决 wap HttpMediaTypeNotAcceptableException: Could not find acceptable representation &ndash;&gt;-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>application/json;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
        <!--<property name="messageConverters">-->
            <!--<list>-->
                <!--<ref bean="stringHttpMessageConverter"/>-->
                <!--<ref bean="mappingJacksonHttpMessageConverter"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 将其放在RequestMappingHandlerAdapter之后用于解决@ResponseBody乱码问题 -->
    <mvc:annotation-driven/>

</beans>